.cproject
.project
.settings

# Emacs litter.
*~
src/bitops/bitops
src/bitops/cmake-build-debug
src/callback/callback
src/callback/callback2
src/callback/delegate
src/isr/a.out
src/isr/isr_test
.idea
